html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.naviBar{
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-left: 3px solid red;
    opacity: 90%;
    transition-duration: 0.7s;
    animation: ease-in-out;
    margin: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.naviBar:hover{
    font-size: 21px;
    font-weight: bold;
    animation: ease-in-out;
    transition-duration: 0.5s;

}





select{
    border:none;
    padding: 10px 20px;
    border-radius:5px;
}

select:focus{
    outline:none;
}